*.o
.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
depcomp
doc/sampleclient
install-sh
ltmain.sh
missing
src/uk
src/uk-send
stamp-h1
