INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.log
config.status
config.sub
configure
configure.scan
autoscan.log
depcomp
install-sh
ltmain.sh
missing
.deps
src/uk
*.o
stamp-h1
