# Empty lines and lines starting with '#' symbols are ignored.

#
# If service name is provided, then uk will send the received keysym (as decimal
# number in ASCII form) to Ecore_Con LOCAL_USER service with name
# <service_name>:0.
#
# If nothing listens on the specified service, then specified command will be
# run, and delivery will be repeated until timeout (10 s) is reached.
#

# <keysym> <service name> <command line>
71         test           xmessage foo

#
# If no service name is provided, then specified command will be run.
#
72 <none> xmessage bar
