# Empty lines and lines starting with '#' symbols are ignored.

#
# Default config locations: /etc/uk.conf, ~/.uk.conf
#

#
# If service name is provided, then uk will send the corresponding action name to
# Ecore_Con LOCAL_USER service with name <service_name>:0.
#
# If nothing listens on the specified service, then specified command will be
# run, and delivery will be repeated until timeout (10 s) is reached.
#

# <keysym> <service name> <action>   <command line>
71         test           Activate   myprogram
72         test           Deactivate myprogram

#
# If no service name is provided, then just specified command will be run.
#
73         <none>         <none>     xmessage bar
