Source: uk
Section: gui
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), automake, pkg-config, liblops-dev, libxcb1-dev, libxcb-event1-dev, libxcb-aux0-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), automake, pkg-config
XCS-Cross-Build-Depends: liblops-dev, libxcb1-dev, libxcb-event1-dev, libxcb-aux0-dev
Priority: optional
Standards-Version: 3.8.3

Package: uk
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: micro-implementation of hotkeys for X
 uKeys is a small hotkeying application for X, with additional
 "dbus-services-like" functionality, allowing to signal running applications
 instead of running them second time.

Package: uk-send
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: uk-send is small tool to simulate uk events from commandline
 uKeys is a small hotkeying application for X, with additional
 "dbus-services-like" functionality, allowing to signal running applications
 instead of running them second time.
 .
 uk-send is small tool to simulate uKeys events from commandline
